h4{
    display: inline;
    color:rgb(21, 4, 63);
    padding-right: 40px;
    padding-left: 30px;
}
#footimg{
    padding-left: 15px;
    padding-top: 30px;
    width: 50px;
    
}

#aboutId,#careerId,#mediaId,#contactId,#subscribeId{
    text-decoration: none;

}
#aboutId:hover,#careerId:hover,#mediaId:hover,
#contactId:hover,#subscribeId:hover{
    color:rgb(3, 51, 18);
}

#footdiv1{
    background-color: rgba(134, 146, 172, 0.342);
    height: 250px;
}
    
#footpara{
       float: right;
       color:rgb(9, 63, 7);
       font-weight: bold;
   
}