h4{
    display: inline;
    color:rgb(21, 4, 63);
    padding-right: 40px;
    padding-left: 30px;
}
img{
    padding-left: 15px;
    padding-top: 10px;
}
#signId{
    color:rgb(7, 207, 74);
    text-decoration: none;
}
#prodId,#appId,#desId,#suppId,#compId{
    text-decoration: none;

}
h3{
    display: inline;
    color:rgb(7, 207, 74);
    padding-left: 400px;
}

#secimg{
    width:100%;
    height: 500px;
}
#autopara,#compara,#induspara,#smarthomepara,#smartcitypara,#mobilepara{
    font-size: 18px;
    display: inline;
}
#autospan,#comspan,#induspan,#smartcityspan,#smarthomespan,#mobilespan{
    font-size: 40px;
    margin: 30px;
}
#itemsdiv{
    margin-left: 200px;
    margin-top: 50px;
}
#itemsdiv2{
    margin-left: 200px;
    margin-top: 60px;
    margin-bottom: 70px;
}
#smartcityspan{
    margin-left: 100px;
}
#smarthomespan{
    margin-left: 240px;
}
.exspan{
    display:inline-block;
    background-color: rgb(216, 213, 252);
    margin-left: 20px;
    margin-bottom: 40px;
    margin-right: 20px;
    

}
.ex2span{
    display:inline-block;
    background-color: rgb(216, 213, 252);
    margin-left: 20px;
    margin-bottom: 40px;
    
}
#prpara{
margin-left: 20px;
margin-right: 20px;
}
#div3{
    margin-left: 100px;
    margin-top:80px;
    margin-bottom: 40px;
    
}
#firstspan,#secondspan,#thirdspan{

    display:inline-block;
    margin-left: 80px;
    margin-bottom: 40px;
    margin-right: 20px;
}
#firstspan{
    background-color: #c2bdf5;
}
#secondspan{
    background-color: rgb(144, 247, 221);
}
#thirdspan{
    background-color: rgb(193, 243, 136);
}
#suspara{
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
    margin-left: 100px;
}
#paras{
    margin: 15px;
}
h2{
    text-align: center;
}
